<div class="row">
  <h2><%= @team.title %></h2>

  <div class="portlet portlet-default">
    <div class="portlet-header">
      <h4 class="portlet-title">
        Roster
        <%= link_to "Edit Roster", edit_league_team_path(@league, @team), class: 'pull-right fa fa-edit' %>
      </h4>
    </div>

      <table 
        class="table table-striped table-bordered table-hover ui-datatable" 
        data-paging=false
        data-ordering=true
        data-length-change=false
        data-info=false
        data-searching=false
      >
      <thead>
        <tr role="row">
          <th aria-label="Player">Player</th>
          <th aria-label="Position">Position</th>
          <th aria-label="Legal Points">Legal Points</th>
          <th aria-label="Fighting Points">Fighting Points</th>
          <th aria-label="Career Points">Career Points</th>
          <th aria-label="Marital Points">Marital Points</th>
          <th aria-label="Health Points">Health Points</th>
          <th aria-label="Other Points">Other Points</th>
          <th aria-label="Total Points">Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @team.roster_slots.each do |roster_slot| %>
          <tr role="row" class="odd">
            <td><%= roster_slot.league_player.first_name %> <%=roster_slot.league_player.last_name %></td>
            <td><%= roster_slot.league_position.title %></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="portlet portlet-default point-submissions">
    <div class="portlet-header">
      <h4 class="portlet-title">
        Point Submissions
        <%= link_to "Submit Points", new_league_point_submission_path(@league, team_id: @team.id), class: 'pull-right fa fa-plus' %>
      </h4>
    </div>

    <table 
      class="table table-striped table-bordered table-hover ui-datatable" 
      data-paging=true
      data-ordering=true
      data-length-change=false
      data-info=false
      data-searching=true
    >
      <thead>
        <tr role="row">
          <th aria-label="Date">Date</th>
          <th aria-label="Player">Player</th>
          <th aria-label="Caegory">Caegory</th>
          <th aria-label="Action">Action</th>
          <th aria-label="Points">Points</th>
          <th aria-label="Status">Status</th>
          <th aria-label="Proof">Proof</th>
        </tr>
      </thead>
      <tbody>
        <% @team.point_submissions.each do |point_submission| %>
          <tr role="row" class="odd">
            <td><%= point_submission.created_at.strftime('%m/%d/%Y %I:%M%p') %></td>
            <td><%= point_submission.league_player.name %></td>
            <td><%= point_submission.league_point_category.group %></td>
            <td><%= point_submission.league_point_category.title %></td>
            <td><%= point_submission.points %></td>
            <td><%= point_submission.status %></td>
            <td><%= link_to point_submission.proof_url, point_submission.proof_url, :target => :blank %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
