<table 
  class="table table-striped table-bordered table-hover ui-datatable player-scorecard"
  data-paging=true
  data-page-length=30
  data-ordering=true
  <% if show_team %>
    data-order="[[ 9, &quot;desc&quot; ]]"
  <% else %>
    data-order="[[ 8, &quot;desc&quot; ]]"
  <% end %>
  data-length-change=false
  data-info=false
  data-searching=true
>
  <thead>
    <tr>
      <th>Player</th>
      <th>Position</th>
      <% if show_team %>
        <th>Team</th>
      <% end %>
      <% @league.point_category_groups.each do |group| %>
        <th><%= group.capitalize %></th>
      <% end %>
      <th>Total Points</th>
    </tr>
  </thead>
  <tbody>
    <% players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.playing_as.try(:title) || player.league_positions.map(&:title).join("/") %></td>
        <% if show_team %>
          <td><%= player.team.try(:title) %></td>
        <% end %>
        <% @league.point_category_groups.each do |group| %>
          <td><%= player.points_for_group(group) %></td>
        <% end %>
        <td><%= player.total_points %></td>
      </tr>
    <% end %>
  </tbody>

  <% if defined?(total_points_on) %>
    <tfoot>
      <tr>
        <td colspan=2 ></td>
        <% @league.point_category_groups.each do |group| %>
          <td><%= total_points_on.points_for_group(group) %></td>
        <% end %>
        <td><%= total_points_on.total_points %></td>
      </tr>
    </tfoot>
  <% end %>
</table>
